body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.table-input {
    width: 100%;
    border: none;          /* Remove the border */
    box-sizing: border-box;
    outline: none;        /* Remove the outline on focus */
    padding: 4px;         /* Add some padding for better spacing */
}

.sum-row {
    font-weight: bold;
}


.pan-input {
    width: 20px;
    text-align: center;
  }
  .dotted-line::after {
    content: " ....................";
    font-family: monospace;
    letter-spacing: 1px;
    color: #000; /* Adjust color as needed */
}
.dotted-line-sign::after {
    content: " .............";
    font-family: monospace;
    letter-spacing: 0.5px;
    color: #000; /* Adjust color as needed */
}
.input-field {
    border: none;
    border-bottom: 1px dotted black; /* Dotted line effect */
    outline: none;
    width: 40%; /* Adjust as needed */
}
.input-field-sign {
    border: none;
    border-bottom: 1px dotted black; /* Dotted line effect */
    outline: none;
    width: 20%; /* Adjust as needed */
}


.bill-container {
    border: 2px solid black;
    padding: 20px;
    width: 50%;
    margin: auto;
    font-family: Arial, sans-serif;
}

.title-container {
    text-align: center;
}
.title-container h1, 
    .title-container h4, 
    .title-container h5, 
    .title-container h3 {
        margin: 0; /* Remove spaces */
        font-size: 20px;
    }


.date-label {
        margin-left: 100px; /* Adjust the value as needed */
}

.create-bill {
    text-align: center;
    width: 100%;
    margin-top: 2px; /* Add some spacing above the button */
}

.create-bill button {
    width: 100px;/* Set width to 100% to match the container */
    padding: 10px;
    background-color: #f0f0f0; /* Default background color */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition */
}

.create-bill button:hover {
    background-color: blue; /* Background color on hover */
    color: white; /* Text color on hover */
}

.total-sum-text {
    border: none; 
}

.sign-container {
    width: 100%;
    overflow: hidden;
}


.input-wrapper {
    float: left;
    width: 48%;
    margin: 1%;
    box-sizing: border-box;
}


.navbar {
    background-color: #fff;
    color: black;
    overflow: hidden;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.navbar a {
    display: inline-block;
    margin: 0 15px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {
    color: #333;
}

.center-align {
    text-align: center;
}